@font-face {
	font-family: 'woodstamp';
	src: url('../bin/Woodstamp.otf');
	font-weight: normal;
	font-style: normal;
	}

.equipes {
	font-size: 40;
	text-align: center;
	font-family: woodstamp;
}

#countdown_hour {
	font-size: 100;
	margin: 10;
}

#countdown_min {
	font-size: 100;
	margin: 10;
}

#countdown_sec {
	font-size: 100;
	margin: 10;
}

div {
	font-size: 100;
}

#countdown {
	text-align: center;
	font-family: woodstamp;
	margin-top: 150px;
	font-size: 22;
}